{% extends "start.html" %}
{% block content %}

{% for item in playlist %}
    <p class="lose">{{ item[0] }}. {{ item[1] }}: <span class="result">{{ item[2] }}</span></p>
{% endfor %}

{% if output != "XXXXX" and playcount <= 5 %}
    {{ super() }}
{% elif output != "XXXXX" and playcount == 6 %}
    <p class="lose">Your word was <em>{{ goal }}</em>. Better luck next time.</p>
    <a href="{{ url_for('start') }}" class="button">Play again</a>
{% elif output == "XXXXX" %}
    <p class="win">{{ playcount }}. {{ guess }}: <span class="result">{{ output }}</span></p>
    <p class="win">Nice.</p>
    <a href="{{ url_for('start') }}" class="button">Play again</a>
{% endif %}

{% endblock %}